<section class="content">
  <div class="container-fluid">
    <div class="row">
          <div class="col-12 col-sm-6 col-lg-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title"> <i class="fas fa-align-left"></i>Troca de Número</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="troc_numero_antigo" class="col-sm-2 col-form-label">Número Antigo</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="troc_numero_antigo" data-inputmask='"mask": "(99) 99999-9999"' data-mask>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="troc_numero_novo" class="col-sm-2 col-form-label">Número Novo</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="troc_numero_novo" data-inputmask='"mask": "(99) 99999-9999"' data-mask>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="canc_protocolo" class="col-sm-2 col-form-label">Protocolo</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="canc_protocolo">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="canc_chamado" class="col-sm-2 col-form-label">Chamado</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="canc_chamado">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="troc_observacao" class="col-sm-2 col-form-label">Observação</label>
                    <div class="col-sm-3">
                      <textarea class="form-control" id="troc_observacao" rows="2"></textarea>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info float-right" style="margin-left: 10px;">Salvar</button>
                  <button type="submit" class="btn btn-default float-right">Limpar</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
          </div>
          </div>
          </div>
          </section>